html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(360deg);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 2.5em;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 2.5em;

    animation: match .8s;
}

.deck .card.wrong {
    animation: wrong .8s;
    background: #aa2f2f;
}

@keyframes wrong {
    10%, 90% {
        transform: translate3d(-3px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(5px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(1px, 0, 0);
    }
}

.flip {
    transition: .5s;
}

@keyframes match {
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(15deg);
    }
    75% {
        transform: rotate(40deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.overlay {
    height: 0%;
    width: 100%;
    z-index: 1;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    transition: .5s;
    text-align: center;
}

/* Make the clock stay in fixed position */
.clock, .timing {
    display: inline-block;
}
.timing {
    min-width: 70px;
}
.stars {
    min-width: 130px;
}

.playAgain {
    display: inline-block;
    background: rgb(102, 217, 237);
    color: white;
    padding: 10px 40px;
    cursor: pointer;
    transition: box-shadow .5s;
}
.playAgain:hover {
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
}

h1, h4 {
    text-align: center;
}

@media only screen and (max-width: 360px) {
    .deck {
        width: 300px;
        padding: 15px;
        min-height: 340px;
    }
    .deck .card {
        width: 60px;
        height: 60px;
    }
    .deck .card.show,
    .deck .card.match {
        font-size: 24px;
    }
    .score-panel {
        width: 300px;
    }
}

@media only screen and (min-width: 361px) and (max-width: 720px) {
    .deck {
        width: 380px;
        padding: 20px;
        min-height: 400px;
    }
    .deck .card {
        width: 70px;
        height: 70px;
    }
    .deck .card.show,
    .deck .card.match {
        font-size: 26px;
    }
    .score-panel {
        width: 390px;
    }
}